.myheight{
    height: 500px;  
    position: relative;

}
#title{
  top: 80%;
  left:5%;
}

.myheight img{
  height: 100%;
  width: 100%;
}
.mystyle{
  height:calc(500px /5);
  width: 100%;
}

.d_mynone{
  display: none;
}
